@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  max-width: 200px;
  margin: auto;
}

.svg-circle:hover + .svg-text-group {
  opacity: 0;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  box-shadow: 10px 5px 5px peachpuff;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  letter-spacing: 0.5em;
  line-height: 3.5;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px pink;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main > div > div {
  letter-spacing: 0.3em;
}

.group1 + div {
  font-style: italic;
  background: pink;
}

.group1 + div + div {
  background: yellow;
}

.group1 ~ div {
  text-transform: uppercase;
}

textarea:invalid {
  border-color: red;
}

textarea:valid {
  border-color: green;
}
